.SearchBar {
  /* border: 1px solid red; */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar input {
  font-size: 1.3vw;
  padding: 5px 10px;
  width: 95%;
  display: block;
  border-radius: 10px;
  border: none;
  outline: none;
}
