.UserPost .UserPostCard {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  /* border: 1px solid red; */
  margin: 10px 20px;
  background-color: white;
  border-radius: 4px;
}

.UserPost .UserPostCard .profile-picture {
  border: 1px solid;
  min-height: 3rem;
  min-width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: lightpink;
  font-size: 1.5rem;

  margin-right: 30px;
}

.UserPost .UserPostCard .name-container {
  margin-right: 30px;
  border: 1px solid;
  flex-basis: 100%;
}
.UserPost .UserPostCard .name-container .name {
  /* border: 1px solid; */
  font-size: 1.3rem;

  font-weight: 430;
  font-family: "Times New Roman", Times, serif;
}

.UserPost .UserPostCard .username {
  color: darkgray;
}

.UserPost .UserPostCard .head {
  display: flex;
  border: 1px solid;
}

.UserPost .UserPostCard .option-btn {
  /* border: 1px solid; */
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  color: rgb(126, 126, 126);
  align-items: center;
  position: relative;
}

.UserPost .UserPostCard .hamburger-menu {
  position: absolute;
  top: 100%;
  /* border: 1px solid; */
  right: 100%;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  width: 20vw;
  border-radius: 4px;
  box-shadow: 0.3px 0.3px 4px darkgray, -0.3px -0.3px 4px darkgray;
}

.UserPost .UserPostCard .menu-btn {
  /* border: 1px solid; */
  /* padding: 10px; */
  /* height: 5vh; */
  display: flex;
  align-items: center;
  padding: 8px;
}
.UserPost .UserPostCard .menu-btn .icon {
  border: 1px solid;
  min-width: 40px;
  font-size: 1.4rem;
  /* text-align: center; */
}

.UserPost .UserPostCard .menu-btn .label {
  border: 1px solid red;
}

.UserPost .UserPostCard .option-btn .btn {
  border: 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
}

.UserPost .UserPostCard .option-btn .btn:hover {
  background-color: darkgray;
  cursor: pointer;
  border-radius: 4px;
}

.UserPost .UserPostCard .menu-btn:hover {
  background-color: lightgray;
  cursor: pointer;
}
