.Navigation {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  position: relative;
}

.Navigation .nav-links {
  flex-basis: 25%;
}
.Navigation .nav-links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 7vh;

  justify-content: center;
}

.Navigation .nav-links.active a {
  background-color: black;
}

/* ******* */

.Navigation .content {
  display: none;
  position: absolute;
  top: 7vh;
  right: 0;
  width: 25%;
  box-shadow: 1px 1px 5px black;
  border-radius: 4px;
  background-color: white;
}

.Navigation .drop-btn {
  cursor: pointer;
  width: 25%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navigation .drop-btn.drop-btn-active {
  background-color: lightgray;
}

.Navigation .close-icon {
  font-size: 2rem;
  color: red;
}

.Navigation .drop-btn.drop-btn-active + .content {
  display: block;
}
