.CommentCard {
  /* border: 1px solid; */
  display: flex;
  padding: 5px;
}

.CommentCard .profile-picture {
  height: 2.3rem;
  min-width: 2.3rem;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.CommentCard .comment-container {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(243, 243, 243);
}

.CommentCard .name {
  font-weight: 450;
}
